<div class="container">
      <div class="row" id="largepicpages">
          <div class="col-md-9"><img src="../img/SearlesLake_USA_aerial copy.jpg" class="img-responsive" id="imgnopacity" alt="Some picture"></div>
          <div class="col-md-3">
              <p class="largepictitle">Searles Lake</p>
              <p class="largepictext">Searles Lake, USA</p>
              <p id="workprevnext">
                <a href="#/landeyjarsander">prev</a> / <a href="#/dallol">next</a>
              </p>
          </div>
      </div>
  </div>

  <!-- /galleries ctrl below -->

  <div class="container" id="gallerypage">
     <div class="row">
       <div ng-repeat="gallery in galleries">
         <div class="col-sm-4 col-md-4">
           <div class="thumbnail">
             <a ng-click="scroll()" href="{{gallery.link}}"><img ng-src="{{gallery.photo}}" alt="..."></a>
               <div class="caption">
                 <h5>{{gallery.title}}</h5>
               </div>
           </div>
         </div>
       </div>
     </div>
  </div>
